<h1>Skills</h1>

<h3>Title skill</h3>

<% if @skill_save %>
    <div class="container text-center">
        <div class="row">
            <% @skill_save.each do |skill| %>
                <div class="col-md-4">
                    <p><%= skill.title %> - <%= skill.level %></p>
                </div>
            <% end %>
        </div>
    </div>
<% end %>

<%= render 'skills/shared/form', skill: @skill %>